/*

# Configuration files
!/.gitignore
!/.github/

# C++ configuration files
!/zappy/.clang-format
!/zappy/.clang-tidy

# Project files
!/zappy
!/zappia

# Documentation
!/README.md
!/CONTRIBUTING.md
